{#
/**
 * @file
 * Template for a Page Footer component.
 *
#}
{% set footer_attributes = footer_attributes ?: create_attribute() %}
{%
  set footer_classes = [
    'page__footer',
  ]|merge(footer_utility_classes ?: [])
%}

{% if page.footer %}
  <footer {{ footer_attributes.addClass(footer_classes) }}>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-md-between align-items-md-center p-3">
        {% block page_inner_footer %}
          {{ page.footer }}
          <p class="bid-copyright">&copy; {{ "now"|date("Y") }} Black in Drupal. All rights reserved.</p>
        {% endblock %}
      </div>
    </div>
    
  </footer>
{% endif %}
