.professional-details {
    .profile-image-wrapper {
      width: 200px;
      height: 200px;
      overflow: hidden;
    //   margin-top: 60px;
      margin-bottom: 20px
  
      img {
        width: 100%; // Ensures the image fills the container
        height: 100%; // Ensures the image fills the container
        object-fit: cover; // Ensures the image covers the area without distortion
      }
    }

    h2 {
        font-family: "REM", sans-serif;
        font-weight: 200;
    }

    .field--name-field-role-title {
        font-size: 1.375rem; 
    }

    .additional-details {
        margin-top: 20px; // Space between image and additional details
        padding: 20px;
        background-color: #f8f9fa; // Light background
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for emphasis
    
        h3 {
          color: #333; // Darker text for headings
        }

    
        .btn-outline-primary {
          border-color: #2AA198; // Bootstrap primary color
          color: #2AA198;
    
          &:hover {
            background-color: #2AA198;
            color: #fff;
          }
        }
      }
  
    .social-media-links a {
      transition: opacity 0.3s ease;
  
      &:hover {
        opacity: 0.7;
      }
    }
  }